@page
@model IndexModel
@{
  ViewData["Title"] = "Home";
}

<h1 class="display-4">Welcome to VetClinic</h1>

<div class="card">
  <div class="card-header">
    Book a vet
  </div>
  <div class="card-body">
    <p>
      Now you can book a vet services for a full day in our VetClinic.
    </p>
    <a href="/bookVet" class="btn btn-primary">Book a vet</a>
  </div>
</div>
